<%= render 'shared/errors', obj: @user %>  <!-- to render errors template from views/shared folder !-->


<%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="card card-container">
      <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
      <!-- <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" /> -->
      <p class='title'>Sign Up</p>
      <form class="form-signin">
          <span id="reauth-email" class="reauth-email"></span>
          <%= f.label :name %>
          <%= f.text_field :name, id: "inputName", class: "form-control", autofocus: true %>
          <%= f.label :email %>
          <%= f.email_field :email, id: "inputEmail", class: "form-control" %>
          <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->
          <%= f.label :password %>
          <%= f.password_field :password, id: "inputPassword", class: "form-control" %>
          <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
          <%= f.label :confirm_password %>
          <%= f.password_field :password_confirmation, id: "inputPassword", class: "form-control" %>
          <div id="remember" class="checkbox">
              <label>
                  <input type="checkbox" value="remember-me"> Remember me
              </label>
          </div>
          <%= f.submit(@user.new_record? ? 'Sign up' : 'Update your account', class: "btn btn-lg btn-primary btn-block btn-signin") %>
        </form><!-- /form -->
  </div><!-- /card-container -->
<% end %>
