<%= render 'shared/errors', obj: @user %>  <!-- to render errors template from views/shared folder !-->

<%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="card card-container">
    <p class='title'>Edit Your Profile</p>
    <form class="form-signin">
      <span id="reauth-email" class="reauth-email"></span>
      <%= f.label :name %>
      <%= f.text_field :name, id: "inputName", class: "form-control", autofocus: true %>
      <%= f.label :email %>
      <%= f.email_field :email, id: "inputEmail", class: "form-control" %>
      <%= f.label :password %>
      <%= f.password_field :password, id: "inputPassword", class: "form-control" %>
      <%= f.label :confirm_password %>
      <%= f.password_field :password_confirmation, id: "inputPassword", class: "form-control" %>
      <%= f.submit(@user.new_record? ? 'Sign up' : 'Update your account', class: "btn btn-lg btn-primary btn-block btn-signin") %>
    </form>
  </div>
<% end %>
