<%= cloudinary_js_config %>

<header class="jumbotron">
  <div class="container">
    <h1>Welcome to Urban Miami</h1>
  </div>
</header>

<% if logged_in? && current_user.admin? %>
  <div class="row new-product">
    <button type="button" class="btn new-product-btn">
      <%= link_to 'New Product', new_product_path %>
    </button>
  </div>
<% end %>

<h1 class="new-arrivals">New Arrivals</h1>
<div class="row text-center" style="display:flex; flex-wrap: wrap;">
<% if @products.blank? %>
  <h4>There are no products containing "<%= params[:search] %>"</h4>
<% end %>
  <% @products.each do |product| %>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
        <%= link_to product do %>
          <%= image_tag product.picture.standard.url %>
        <% end %>

        <div class="caption">
          <%= link_to product do %>
            <h4><%= product.name %></h4>
            <p>$<%= product.formatted_price %></p>
          <% end %>
        </div>
        <p class='links_index'>
          <% if logged_in? && current_user.admin? %>
            <%= link_to 'Edit', edit_product_path(product) %>
            <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>
