<<<<<<< HEAD
<!--
@Author: timaanonsen
@Date:   01-06-2018 13:01::02
@Filename: show.html.erb
@Last modified by:   timaanonsen
@Last modified time: 01-06-2018 17:01::40
-->



=======
<%= cloudinary_js_config %>
>>>>>>> d3096d31dc5439a9cfdd3a8525731e2e5f800905
<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p>
<%= image_tag @product.picture.standard.url %>
</p>

  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
<strong>Price:</strong>
<%= @product.formatted_price %>
</p>

<<<<<<< HEAD

=======
>>>>>>> 6cd078923e340dbfd7b532eff318ac635036e797
<h3>Reviews</h3>
<% @product.reviews.each do |review| %>
  <p>
    Added by:
    <%= review.user.name %> |
    Comment:
    <%= review.comment %>
    <br>
<<<<<<< HEAD
    Added on: <%= review.created_at %>
=======
    Added <%= time_ago_in_words(review.created_at) %> ago
>>>>>>> 6cd078923e340dbfd7b532eff318ac635036e797
  </p>

  <% if logged_in? && (current_user == review.user || current_user.admin?) %>
  <p><%= link_to 'Delete comment', review, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>
<% end %>

<h3>New Review</h3>
<%= render 'reviews/form', review: @review %>

<% if logged_in? && current_user.admin? %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<%= link_to 'Back', products_path %>
