<%= cloudinary_js_config %>

<div class="col-sm-6">
  <p class="show-img"><%= image_tag @product.picture.standard.url %></p>
</div>

<div class="col-sm-6" id="product-info">
  <h2 class="product-title"><%= @product.name %></h2>
  <p class="price">$ <%= @product.formatted_price %></p>
  <div class="rating">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
  </div>
  <p class="description"><%= @product.description %></p>
  <%= button_to 'Add to Cart', line_items_path(:product_id => @product), class: 'cart-btn' %>

  <h3 class="reviews">Reviews</h3>
  <% @product.reviews.each do |review| %>
    <p class="comment"><q> <%= review.comment %> </q></p>
    <p class="user-comment">Added by: <%= review.user.name %> |
      <span>Added <%= time_ago_in_words(review.created_at) %> ago</span> |
      <span id="delete-comment">
        <% if logged_in? && (current_user == review.user || current_user.admin?) %>
          <%= link_to 'Delete comment', review, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </span>
    </p>
  <% end %>

  <h3 class="reviews">New Review</h3>
  <%= render 'reviews/form', review: @review %>

  <p class='show-links'>
    <% if logged_in? && current_user.admin? %>
      <%= link_to 'Edit Product', edit_product_path(@product) %>
    <% end %>
  </p>
</div>
