<!--
@Author: timaanonsen
@Date:   01-06-2018 13:01::02
@Filename: show.html.erb
@Last modified by:   timaanonsen
@Last modified time: 01-06-2018 17:01::40
-->



<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
<strong>Price:</strong>
<%= @product.formatted_price %>
</p>

<<<<<<< HEAD

=======
>>>>>>> 6cd078923e340dbfd7b532eff318ac635036e797
<h3>Reviews</h3>
<% @product.reviews.each do |review| %>
  <p>
    <%= review.comment %>
    <br>
<<<<<<< HEAD
    Added on: <%= review.created_at %>
=======
    Added <%= time_ago_in_words(review.created_at) %> ago
>>>>>>> 6cd078923e340dbfd7b532eff318ac635036e797
  </p>
  <p><td><%= link_to 'Delete comment', review, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

  <h3>New Review</h3>
<%= render 'reviews/form', review: @review %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
