<<<<<<< HEAD
<!--
@Author: timaanonsen
@Date:   01-06-2018 17:01::12
@Filename: _form.html.erb
@Last modified by:   timaanonsen
@Last modified time: 01-06-2018 17:01::12
-->



<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
=======
<%= form_for(@review) do |form| %>
  <% if review.errors.any? %>
>>>>>>> 6cd078923e340dbfd7b532eff318ac635036e797
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<<<<<<< HEAD
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>

=======
    <% if @product.nil? %>
     <div class="field">
       <%= form.label :product_id %><br>
       <%= form.text_field :product_id %>
     </div>
   <% else %>
     <%= form.hidden_field :product_id, value: @product.id %>
   <% end %>
>>>>>>> 6cd078923e340dbfd7b532eff318ac635036e797

  <% if @product.nil? %>
      <div class="field">
        <%= f.label :product_id %><br>
        <%= f.text_field :product_id %>
    </div>
  <% else %>
    <%= f.hidden_field :product_id, value: @product.id %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
