<h1>New review</h1>
<%= render 'reviews/form', review: @review %>

<%= link_to 'Back', reviews_path %>
# In app/views/reviews/edit.html.erb

<h1>Editing review</h1>
<%= render 'form', review: @review %>

<%= link_to 'Show', @review %> |
<%= link_to 'Back', reviews_path %>
